/*====================================
Unviversal Styling
=====================================*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
    overflow: hidden;
}

img {
    width: 20%;
}

body {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: sans-serif;
    perspective: 1px;
    transform-style: preserve-3d;
}

h2 {
    padding: 20px 25px;
}
/*====================================
Navigation Styling
=====================================*/
nav {
    width: 800px;
    margin: 0 auto;
}

nav ul {
    text-align: center;
    list-style-type: none;
    padding-top: 95px;
}

nav ul li {
    position: relative;
    top: 32px;
    display: inline;
    margin: 0px 28px;
    padding: 50px;
    font-size: 20px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

/*====================================
Title Section Styling
=====================================*/
.title-slide {
    position: relative;
    top: -88px;
    left: 44%;
    margin-left: 14px;
}

.title {
    font-size: 38px;
    margin-left: -155px;
    text-transform: uppercase;
}

/*====================================
Superman Section Styling
=====================================*/
.slide-1 {
    padding-top: 15%;
}

.super {
    position: relative;
    float: right;
    right: 27%;
    top: 180px;
    border: solid;
    box-sizing: border-box;
    padding: 15px 115px;
}

.super details {
    position: relative;
    right: 70px;
}
