/*====================================
Unviversal Styling
=====================================*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
    overflow: hidden;
}

header {
    padding: 15px;
}

img {
    width: 20%;
}

body {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: sans-serif;
    perspective: 1px;
    transform-style: preserve-3d;
}

h2 {
  padding: 30px 0px;
}
/*====================================
Navigation Styling
=====================================*/
nav {
    width: 800px;
    margin: 0 auto;
}

nav ul {
    text-align: center;
    list-style-type: none;
    padding-top: 95px;
}

nav ul li {
    position: relative;
    top: 37px;
    display: inline;
    margin: 0px 28px;
    padding: 50px;
    font-size: 20px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

/*====================================
Title Section Styling
=====================================*/
.title-slide {
    margin-left: 43%;
    margin-top: -5px;
}

.title {
    position: absolute;
    font-size: 38px;
    margin-left: -151px;
    text-transform: uppercase;
    margin-top: -145px;
}
/*====================================
Superman Section Styling
=====================================*/
.slide-1 {
    padding-top: 15%;
    padding-bottom: 20%;
    background-image: url(../images/metropolis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 0px 0px;
    min-width: 100vw;
}

.super {
    position: relative;
    float: right;
    right: 7%;
    top: 58px;
    border: solid rgb(132 130 130 / 20%);
    box-sizing: border-box;
    box-shadow: 3px -9px 10px 2px #b7c0c1;
    padding: 0 0px 60px 37px;
    background-color: aliceblue;
}

.super dd {
    margin: 10px 0px 15px 30px;
    padding: 0px 12px 0px 10px;
}

.superman-pic {
    position: relative;
    left: 320px;
    top: -50px;
}

/*====================================
Batman Section Styling
=====================================*/
.slide-2 {
    background-image: url(../images/gotham.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 4;
    position: relative;
    height: 1000px;
}

.bat {
    background: #969494;
    box-sizing: border-box;
    border: solid #5d5a5a6b;
    position: relative;
    float: left;
    top: 207px;
    left: 105px;
    box-shadow: 5px -4px 11px 4px #f3e16185;
    padding: 8px 5px 30px 63px;
}

.bat dd {
    margin: 10px 20px;
    padding: 7px;
}

.batman-pic {
    left: 473px;
    position: relative;
    top: 165px;
}

/*====================================
Wonder Woman Section Styling
=====================================*/
.slide-3 {
    background-image: url(../images/paradise.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    margin: -1px 0 -1px 0;
}

.wonder {
    box-sizing: border-box;
    border: solid #afceed9e;
    position: relative;
    padding: 8px 5px 30px 63px;
    width: 40%;
    background: #a9cbeede;
    bottom: 313px;
    left: 52%;
    box-shadow: 7px 9px 13px 2px #f2f4f3;
}

img.wonder-pic {
    position: relative;
    top: 342px;
    left: 125px;
}

.wonder dd {
    margin: 10px 20px;
    padding: 4px;
}

/*====================================
Buttons Styling
=====================================*/
a.button-1 {
    border: solid black;
    border-radius: 24px;
    padding: 10px;
    position: relative;
    left: 258px;
    right: 0px;
    top: 24px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background: #82aed1;
    color: white;
}

a.button-2 {
    border: solid black;
    border-radius: 24px;
    padding: 10px;
    position: relative;
    left: 225px;
    right: 0px;
    top: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background: #302e2f;
    color: white;
}

a.button-3 {
    border: solid #69bd909e;
    border-radius: 24px;
    padding: 10px;
    position: relative;
    left: 253px;
    right: 0px;
    top: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background: #86d28896;
    color: black;
}
